<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" type="text/css" href="css/mainPageStyle.css">
</head>
<body>
<header>
    <h1>Некий магазин)))</h1>
    <div id="authButtons">
<!--        <button onclick="showLoginForm()">Login</button>-->
        <button onclick="showLoginForm()">Login</button>
        <button onclick="showSignupForm()">Sign Up</button>
    </div>
    <div id="userButtons" style="display: none;">
        <button onclick="logout()">Logout</button>
        <button onclick="viewOrders()">My Orders</button>
    </div>
</header>
<div class="container" id="content">
    <!-- Тут будет контент, например, список товаров -->
</div>
<script src="js/mainPage.js"></script>
</body>
</html>
